.jumbotron {
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    background-size: fill;
    border-radius: .3rem;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
  